*~
*.la
*.lo
*.o

*.diff
*.patch
*.orig
*.rej

.deps
.libs
Makefile
!t/Makefile
Makefile.in

config/

/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
/stamp-h1

/libinotifytools/src/doc
/libinotifytools/src/inotifytools/inotify.h
/libinotifytools/src/inotifytools/stamp-h2

/man/inotifywait.1
/man/inotifywatch.1

/src/inotifywait
/src/inotifywatch
